<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="ion-ios-close-empty sn-link-close"></em>
        </button>
        <h4 class="modal-title" id="myModalLabel">{{modalTitle}}</h4>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" name="form1" id="formRate">
            <div>            
                <div class="form-group">
                    <div class="col-xs-3">
                        <label class="control-label" for="kode">Kode</label>
                    </div>
                    <div class="col-sm-8" ng-class="{error: form1.kode.$invalid}">
                        <input name="kode" type="text" class="form-control" id="kode" ng-model="vm.akun.kode" required autofocus/>
                        <span style="float:right; color:white" class="help-block label label-danger" ng-show="form1.kode.$error.required">
                            Harus Diisi
                        </span>
                        <span style="float:right; color:white" class="help-block label label-danger" ng-show="isKodeExists">
                            Kode sudah terpakai
                        </span>
                    </div>
                </div> 
                <div class="form-group">
                    <div class="col-xs-3">
                        <label class="control-label" for="tahunAwal">Tahun Awal</label>
                    </div>
                    <div class="col-sm-8" ng-class="{error: form1.tahunAwal.$invalid}">
                        <input name="tahunAwal" type="text" class="form-control" id="tahunAwal" ng-model="vm.akun.tahunAwal" required autofocus/>
                        <span style="float:right; color:white" class="help-block label label-danger" ng-show="form1.tahunAwal.$error.required">
                            Harus Diisi
                        </span>
                    </div>
                </div> 
                <div class="form-group">
                    <div class="col-xs-3">
                        <label class="control-label" for="tahunAkhir">Tahun Akhir</label>
                    </div>
                    <div class="col-sm-8" ng-class="{error: form1.tahunAkhir.$invalid}">
                        <input name="tahunAkhir" type="text" class="form-control" id="tahunAkhir" ng-model="vm.akun.tahunAkhir" required autofocus/>
                        <span style="float:right; color:white" class="help-block label label-danger" ng-show="form1.tahunAkhir.$error.required">
                            Harus Diisi
                        </span>
                    </div>
                </div> 
                
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="vm.save()">Simpan</button>
        <button type="button" class="btn btn-danger" ng-click="$dismiss()">Batal</button>
    </div>
</div>
