<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="ion-ios-close-empty sn-link-close"></em>
        </button>
        <h4 class="modal-title" id="myModalLabel">{{modalTitle}}</h4>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" name="form1" id="formRate">
            <div>
                <div class="form-group">
                    <div class="col-md-2">
                        <label class="control-label" for="kode">Kode</label>
                    </div>
                    <div class="col-md-4" ng-class="{error: form1.kode.$invalid}">
                        <input name="kode" type="text" class="form-control pull-left" id="budget" ng-model="ctrl.akun.kode"  autofocus required=""/>
                        <span style="float:right; color:white" class="help-block label label-danger" ng-show="form1.kode.$error.required">
                            Harus Diisi
                        </span>
                    </div>
                    <div class="col-md-2">
                        <label class="control-label" for="budget">Budget</label>
                    </div>
                    <div class="col-md-4" ng-class="{error: form1.budget.$invalid}">
                        <input name="budget" type="number" class="form-control pull-left" id="budget" ng-model="ctrl.akun.budget"  autofocus/>
                    </div>
                </div>
                <div class="form-group">                    
                    <div class="col-md-2">
                        <label class="control-label" for="keterangan">Keterangan</label>
                    </div>
                    <div class="col-md-10" ng-class="{error: form1.keterangan.$invalid}">
                        <textarea name="keterangan" rows="2" class="form-control" id="keterangan" ng-model="ctrl.akun.keterangan" required autofocus></textarea>
                        <span style="float:right; color:white" class="help-block label label-danger" ng-show="form1.keterangan.$error.required">
                            Harus Diisi
                        </span>
                    </div>
                </div>                       
                <div class="form-group">
                    <div class="col-md-2">
                        <label class="control-label" for="parent">Parent</label>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <input class="form-control" ng-model="ctrl.akun.parent.kode" name="parent" ng-disabled="true"/>
                            <span class="input-group-addon" ng-click="ctrl.lookupProyek()" ng-disabled="true"><span class="glyphicon glyphicon-search"></span></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        {{ctrl.akun.parent.keterangan}}
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="ctrl.save()">Simpan</button>
        <button type="button" class="btn btn-danger" ng-click="$dismiss()">Batal</button>
    </div>
</div>
