<div class="widgets">
    <div ba-panel ba-panel-title="Anggaran Proyek" ba-panel-class="with-scroll">
        <div class="modal-body">
            <form class="form-horizontal" name="form1" id="formRate">
                <div>
                    <div class="form-group">
                        <div class="col-md-2">
                            <label class="control-label" for="nama">Program</label>
                        </div>
                        <div class="col-md-5" ng-class="{error: form1.status.$invalid}">
                            <div class="input-group">
                                <input class="form-control" ng-model="vm.data.program.nama" name="program"/>
                                <span class="input-group-addon" ng-click="vm.lookupProgram()"><span class="glyphicon glyphicon-search"></span></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label class="control-label" for="nama">Skema Budget</label>
                        </div>
                        <div class="col-md-3">
                            <ui-select data-ng-model="vm.data.skemaBudget" name="skema" class="btn-group bootstrap-select form-control">
                                <ui-select-match placeholder="Pilih Skema">{{$select.selected.nama}}</ui-select-match>
                                <ui-select-choices data-repeat="i in vm.listSkemaBudget | filter: $select.search">
                                    <div data-ng-bind-html="i.nama | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>                
                    <div class="form-group">
                        <div class="col-md-2">
                            <label class="control-label" for="mulai">Durasi</label>
                        </div>
                        <div class="col-md-3" ng-class="{error: form1.durasiMulai.$invalid}">
                            <div class="input-group">
                                <input class="form-control" datetimepicker ng-model="vm.data.durasiAwal" options="vm.dateOptions" name="tglMasuk"/>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label class="control-label" for="tahunAjaran">Sampai</label>
                        </div>                   
                        <div class="col-md-3" ng-class="{error: form1.durasiAkhir.$invalid}">
                            <div class="input-group">
                                <input class="form-control" datetimepicker ng-model="vm.data.durasiAkhir" options="vm.dateOptions" name="tglMasuk"/>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="row">
                <div class="table-responsive">
                    <tree-dnd tree-class="table table-bordered table-hover table-striped"
                              tree-data="vm.tree_data"
                              tree-control="vm.my_tree"
                              filter="vm._filter"
                              primary-key="id"
                              column-defs="vm.col_defs"
                              expand-on="vm.expanding_property"

                              template-url="app/pages/template/dnd-tree/tree-dnd-template-render.html"

                              indent="30"
                              indent-plus="20"
                              indent-unit="px"
                              enable-hotkey="true"
                              enable-drag="false"
                              enable-drop="false"
                              enable-status="true"
                              enable-move="false">
                    </tree-dnd>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" ng-click="vm.simpan()">Simpan</button>
            <button type="button" class="btn btn-danger" ng-click="$dismiss()">Batal</button>
        </div>
    </div>
</div>
