<script type="text/ng-template" id="tree-dnd-template-render.html">
    <table ng-class="$tree_class">
    <thead>
    <tr>
    <th ng-class="expandingProperty.titleClass" ng-style="expandingProperty.titleStyle"    
    compile="expandingProperty.titleTemplate">
    {{expandingProperty.displayName || expandingProperty.field || expandingProperty}}
    </th>
    <th ng-repeat="col in colDefinitions" ng-class="col.titleClass" ng-style="col.titleStyle"
    compile="col.titleTemplate">
    {{col.displayName || col.field}}<button class="btn btn-info editable-table-button btn-xs" ng-click="vm.baru()" ng-show="($index+1)===colDefinitions.length">Tambah</button>
    </th>
    </tr>
    </thead>
    <tbody tree-dnd-nodes>
    <tr tree-dnd-node="node" ng-repeat="node in tree_nodes track by node.__hashKey__ "
    ng-show="enabledFilter ? node.__filtered_visible__ === true && node.__visible__ : node.__visible__"
    ng-class="enabledFilter ? (node.__filtered__ === true? 'success': '') : (node.__selected__ ? ' active':'')"
    ng-click="vm.select(node)" style="padding : 0 0 0 0; margin:0 0 0 0">
    <td tree-dnd-node-handle
    ng-style="expandingProperty.cellStyle ? expandingProperty.cellStyle : {'padding-left': $callbacks.calsIndent(node.__level__)}"
    ng-class="expandingProperty.cellClass" compile="expandingProperty.cellTemplate" style="padding : 0 0 0 0; margin:0 0 0 0;font-weight: {{node.__children__.length===0?'normal':'bolder'}};text-align: left">
            <a data-nodrag ng-click="toggleExpand(node)"> {{node.__children__.length===0?'':(node.__expanded__===true?'-':'+')}}</i>
        </a>
        <a data-nodrag> <i ng-class="node.__icon_class__"
    ng-click="toggleExpand(node)"
    class="tree-icon"></i>
    </a> {{node[expandingProperty.field] || node[expandingProperty]}}
    </td>
    <td ng-repeat="col in colDefinitions" ng-class="col.cellClass" ng-style="col.cellStyle"
    compile="col.cellTemplate" title="{{col.displayName}}" style="padding : 0 0 0 0; margin:0 0 0 0;font-weight: {{node.__children__.length===0?'normal':'bolder'}}">
    {{node[col.field]}}
    </td>
    </tr>
    </tbody>
    </table>
</script>
<div class="widgets">
    <div class="row" style="font-weight: normal;">
        <div>
            <div>
                <div class=" form-group input-group col-md-12 ">
                    <input id="search" type="text" class="form-control" ng-model="vm._filter._$" placeholder="Masukkan pencarian (Case Sensitive)" autofocus>
                </div>
                <!--                <div class=" form-group input-group">
                                    <input id="search" type="text" class="col-xs-2 form-control" ng-model="vm.search" ng-keypress="$event.keyCode == 13 ? vm.loadAll() : undefined" placeholder="Masukkan pencarian" autofocus>
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button" ng-click="vm.loadAll()"><i class="glyphicon glyphicon-search"></i>
                                        </button>
                                    </span>
                                </div>-->
            </div>
            <div class="table-responsive">
                <tree-dnd tree-class="table table-bordered table-hover table-striped"
                          tree-data="vm.tree_data"
                          tree-control="vm.my_tree"
                          filter="vm._filter"
                          primary-key="id"
                          column-defs="vm.col_defs"
                          expand-on="vm.expanding_property"

                          template-url="tree-dnd-template-render.html"

                          indent="30"
                          indent-plus="20"
                          indent-unit="px"
                          enable-hotkey="true"
                          enable-drag="false"
                          enable-drop="false"
                          enable-status="true"
                          enable-move="false">
                </tree-dnd>
                <!--                <table class="table table-bordered table-hover table-condensed">
                                    <thead>
                                        <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                                            <th jh-sort-by="kode"><span>Kode Akun</span><span class="glyphicon glyphicon-sort"></span></th>
                                            <th jh-sort-by="nama"><span>Nama Akun</span><span class="glyphicon glyphicon-sort"></span></th>
                                            <th jh-sort-by="jenis.nama"><span>Kategori</span><span class="glyphicon glyphicon-sort"></span></th>
                                            <th>Keterangan</th>
                                            <th>
                                                <button class="btn btn-info editable-table-button btn-xs" ng-click="vm.baru()">Tambah</button>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tr ng-repeat="c in vm.data track by c.id" class="editable-row">
                                        <td>
                                            {{ c.kode}}
                                        </td>
                                        <td>
                                            {{ c.nama}}
                                        </td>
                                        <td>
                                            {{ c.jenis.nama}}
                                        </td>
                                        <td>
                                            {{ c.keterangan}}
                                        </td>
                                        <td>
                                            <div class="buttons" >
                                                <button class="btn btn-primary editable-table-button btn-xs" 
                                                        data-toggle="modal" ng-click="vm.ubah(c)">Edit</button>
                                                <button class="btn btn-danger editable-table-button btn-xs" ng-confirm-message="Anda yakin akan menghapus Akun '{{c.nama}}'?" ng-confirm="hapus(c)">Delete</button>
                                            </div>
                                        </td>
                                    </tr>
                                </table>-->
            </div>
            <!--            <div class="text-center" ng-if="vm.totalItems > vm.itemsPerPage">
                            <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
                            <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
                        </div>-->
        </div>
    </div>
</div>
