<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="ion-ios-close-empty sn-link-close"></em>
        </button>
        <h4 class="modal-title" id="myModalLabel">Lookup Akad - Sumber Dana</h4>
    </div>
    <div class="modal-body">
        <!--<div id='jqxWidget' style="font-size: 13px; font-family: Verdana; float: left;">-->
            <h3>
                Sumber Dana</h3>
            <div id="sumberDanaGrid">
            </div>
            <h3>
                Detail Akad</h3>
            <div id="akadGrid">
            </div>
        <!--</div>-->
    </div>
</div>
