<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="ion-ios-close-empty sn-link-close"></em>
        </button>
        <h4 class="modal-title" id="myModalLabel">Lookup Program</h4>
    </div>
    <div class="modal-body">
        <div id="programTreeGrid"></div>
        <div id="proyekTreeGrid" ng-show="showProyek"></div>
        <div class="modal-body">
            <div id="treeGrid"></div>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="showProyek"> Detail proyek diikut sertakan
            </label>
        </div>
    </div>
</div>
