<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="ion-ios-close-empty sn-link-close"></em>
        </button>
        <h4 class="modal-title" id="myModalLabel">{{modalTitle}}</h4>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" name="form1" id="formRate">
            <!--<div ba-panel ba-panel-title="Daftar Akun" ba-panel-class="with-scroll">-->
            <div class=" form-group ">
                <div class="input-group">
                    <input id="search" type="text" class="col-xs-2 form-control" ng-model="ctrl._filter._$" placeholder="Masukkan pencarian (Case Sensitive)" autofocus>
                </div>
            </div>
            <div class="table-responsive">
                <div class="table-responsive">
                    <tree-dnd tree-class="table table-bordered table-hover table-striped"
                              tree-data="ctrl.tree_data"
                              tree-control="ctrl.my_tree"
                              filter="ctrl._filter"
                              primary-key="id"
                              column-defs="ctrl.col_defs"
                              expand-on="ctrl.expanding_property"

                              template-url="app/pages/template/dnd-tree/program-template-render.html"

                              indent="30"
                              indent-plus="20"
                              indent-unit="px"
                              enable-hotkey="true"
                              enable-drag="false"
                              enable-drop="false"
                              enable-status="true"
                              enable-move="false">
                    </tree-dnd>
                </div>
                <!--</div>-->
            </div>
        </form>
    </div>
</div>
