<div class="widgets">
    <form name="form1">
        <div class="row">
            <div class="col-md-12">
                <div ba-panel ba-panel-title="Entri Jurnal" ba-panel-class="with-scroll">
                    <div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    <label class="control-label" for="nomor">Nomor</label>
                                </div>
                                <div class="col-md-4" ng-class="{error: form1.nomor.$invalid}">
                                    <input name="nomor" type="text" class="form-control" id="nomor" ng-model="vm.data.nomor" autofocus/>
                                </div>
                                <div class="col-md-2">
                                    <label class="control-label" for="cabang">Cabang</label>
                                </div>
                                <div class="col-md-4" ng-class="{error: form1.cabang.$invalid}">
                                    <ui-select data-ng-model="vm.data.cabang" name="cabang">
                                        <ui-select-match placeholder="Pilih Cabang">{{$select.selected.nama}}</ui-select-match>
                                        <ui-select-choices data-repeat="i in vm.listCabang | filter: $select.search">
                                            <div data-ng-bind-html="i.nama | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    <label class="control-label" for="tanggal">Tanggal</label>
                                </div>
                                <div class="col-md-4" ng-class="{error: form1.tanggal.$invalid}">
                                    <div class="input-group">
                                        <input class="form-control" datetimepicker ng-model="vm.data.tanggal" options="dateOptions" name="tanggal"/>
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">                                
                                <div class="col-md-2">
                                    <label class="control-label" for="multiCurrency">Multi Currency</label>
                                </div>
                                <div class="col-md-4" ng-class="{error: form1.multiCurrency.$invalid}">
                                    <input name="multiCurrency" type="checkbox" class="form-control pull-left" id="multiCurrency" ng-model="vm.data.multiCurrency"  autofocus/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    <label class="control-label" for="uraian">Uraian</label>
                                </div>
                                <div class="col-md-8" ng-class="{error: form1.uraian.$invalid}">
                                    <textarea name="uraian" class="form-control" id="uraian" ng-model="vm.data.uraian" autofocus rows="3"></textarea>
                                </div>                    
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div ba-panel ba-panel-title="Detail" ba-panel-class="with-scroll table-panel">
                                <div class="horizontal-scroll">
                                    <table class="table table-bordered table-hover table-condensed">
                                        <thead>
                                            <tr>
                                                <th style="width: 150px"><span>Akun</span></th>
                                                <th style="width: 250px"><span>Nama</span></th>
                                                <th style="width: 300px"><span>Uraian</span></th>
                                                <th style="width: 100px"><span>Debet</span></th>
                                                <th style="width: 100px"><span>Kredit</span></th>
                                                <th ng-show="vm.data.multiCurrency" style="width: 150px"><span>Mata Uang</span></th>
                                                <th ng-show="vm.data.multiCurrency" style="width: 150px"><span>Rate</span></th>
                                                <th style="width: 200px"><span>Akad</span></th>
                                                <th style="width: 200px"><span>Program</span></th>
                                                <th style="width: 200px"><span>Proyek</span></th>
                                                <th>
                                                    <button class="btn btn-info editable-table-button btn-xs" ng-click="vm.baru()" type="button">Tambah</button>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tr ng-repeat="c in vm.data.listJurnalDetail" style="margin: 0 0 0 0">
                                            <!--                                            <td style="padding: 0 0 0 0">
                                                                                            <div class="input-group" >
                                                                                                <input class="form-control" ng-model="c.akun.kode" name="akun" ng-keypress="$event.keyCode == 13 ? vm.cariAkunByKode(c.akun.kode, $index) : undefined"/>
                                                                                                <span class="input-group-addon" ng-click="vm.lookupAkun($index)"><span class="glyphicon glyphicon-search"></span></span>
                                                                                            </div>
                                                                                        </td>
                                                                                        <td style="padding: 0 0 0 0">
                                                                                            {{c.akun.nama}}
                                                                                        </td>
                                                                                        <td style="padding: 0 0 0 0">
                                                                                            <input class="form-control" type="text" ng-model="c.detail" name="detail" />
                                                                                        </td>
                                                                                        <td style="padding: 0 0 0 0">
                                                                                    <ui-select data-ng-model="c.mataAnggaran" name="mataAnggaran">
                                                                                        <ui-select-match placeholder="Pilih Mata Anggaran">{{$select.selected.nama}}</ui-select-match>
                                                                                        <ui-select-choices data-repeat="i in vm.listMataAnggaran | filter: $select.search">
                                                                                            <div data-ng-bind-html="i.nama | highlight: $select.search"></div>
                                                                                        </ui-select-choices>
                                                                                    </ui-select>
                                                                                    </td>
                                                                                    <td style="padding: 0 0 0 0">
                                                                                        <select class="form-control" ng-model="c.dk" name="dk">
                                                                                            <option ng-value="D">D</option>
                                                                                            <option ng-value="K">K</option>
                                                                                        </select>
                                                                                    </td>
                                                                                    <td style="padding: 0 0 0 0">
                                                                                        <input class="form-control" type="number" ng-model="c.jumlah" name="jumlah"/>
                                                                                    </td>
                                                                                    <td ng-show="vm.data.multiCurrency" style="padding: 0 0 0 0">
                                                                                    <ui-select data-ng-model="c.mataUang" name="mataUang">
                                                                                        <ui-select-match placeholder="Pilih Mata Uang">{{$select.selected.nama}}</ui-select-match>
                                                                                        <ui-select-choices data-repeat="i in vm.listMataUang| filter: $select.search">
                                                                                            <div data-ng-bind-html="i.nama | highlight: $select.search"></div>
                                                                                        </ui-select-choices>
                                                                                    </ui-select>
                                                                                    </td>
                                                                                    <td ng-show="vm.data.multiCurrency" style="padding: 0 0 0 0">
                                                                                        <input class="form-control" type="number" ng-model="c.rate" name="rate"/>
                                                                                    </td>
                                                                                    <td>
                                                                                        <button class="btn btn-danger editable-table-button btn-xs" ng-confirm-message="Anda yakin akan menghapus Dokumen Sumber '{{c.nama}}'?" ng-confirm="vm.hapus(c)" type="button">Delete</button>
                                                                                    </td>-->
                                            <td style="padding: 0 0 0 0">
                                                {{c.akun.kode}}
                                            </td>
                                            <td style="padding: 0 0 0 0">
                                                {{c.akun.nama}}
                                            </td>
                                            <td style="padding: 0 0 0 0">
                                                {{c.detail}}
                                            </td>
                                            <td style="padding: 0 0 0 0">
                                                {{c.mataAnggaran.nama}}
                                            </td>
                                            <td style="padding: 0 0 0 0">
                                                {{c.dk}}
                                            </td>
                                            <td style="padding: 0 0 0 0">
                                                {{c.jumlah|number}}
                                            </td>
                                            <td ng-show="vm.data.multiCurrency" style="padding: 0 0 0 0">
                                        <ui-select data-ng-model="c.mataUang" name="mataUang">
                                            <ui-select-match placeholder="Pilih Mata Uang">{{$select.selected.nama}}</ui-select-match>
                                            <ui-select-choices data-repeat="i in vm.listMataUang| filter: $select.search">
                                                <div data-ng-bind-html="i.nama | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                        </td>
                                        <td ng-show="vm.data.multiCurrency" style="padding: 0 0 0 0">
                                            <input class="form-control" type="number" ng-model="c.rate" name="rate"/>
                                        </td>
                                        <td>
                                            <button class="btn btn-pencil editable-table-button btn-xs" type="button" ng-click="vm.ubah(c, $index)">Edit</button>
                                            <button class="btn btn-danger editable-table-button btn-xs" ng-confirm-message="Anda yakin akan menghapus '{{c.akun.nama}}'?" ng-confirm="vm.hapusItem($index)" type="button">Delete</button>
                                        </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">                        
                    </div>
                    <button type="button" class="btn btn-primary pull-right" ng-click="vm.save()" ng-disabled="!vm.isBalance() || form1.$invalid">Simpan</button>
                    <button type="button" class="btn btn-danger pull-right" ng-click="$dismiss()">Batal</button>
                </div>
            </div>
        </div>
    </form>
</div>
