<div class="widgets">
    <form name="form1">
        <div class="row">
            <div class="col-md-12">
                <div ba-panel ba-panel-title="Entri Jurnal" ba-panel-class="with-scroll">
                    <div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    <label class="control-label" for="nomor">Nomor</label>
                                </div>
                                <div class="col-md-4" ng-class="{error: form1.nomor.$invalid}">
                                    <input name="nomor" type="text" class="form-control input-sm" id="nomor" ng-model="vm.data.nomor" autofocus/>
                                </div>
                                <div class="col-md-2">
                                    <label class="control-label" for="cabang">Cabang</label>
                                </div>
                                <div class="col-md-4" ng-class="{error: form1.cabang.$invalid}">
                                    <ui-select data-ng-model="vm.data.cabang" name="cabang">
                                        <ui-select-match placeholder="Pilih Cabang">{{$select.selected.nama}}</ui-select-match>
                                        <ui-select-choices data-repeat="i in vm.listCabang | filter: $select.search">
                                            <div data-ng-bind-html="i.nama | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    <label class="control-label" for="tanggal">Tanggal</label>
                                </div>
                                <div class="col-md-4" ng-class="{error: form1.tanggal.$invalid}">
                                    <div class="input-group">
                                        <input class="form-control input-sm" datetimepicker ng-model="vm.data.tanggal" options="dateOptions" name="tanggal"/>
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--                        <div class="form-group">
                                                    <div class="row">                                
                                                        <div class="col-md-2">
                                                            <label class="control-label" for="multiCurrency">Multi Currency</label>
                                                        </div>
                                                        <div class="col-md-4" ng-class="{error: form1.multiCurrency.$invalid}">
                                                            <input name="multiCurrency" type="checkbox" class="form-control input-sm pull-left" id="multiCurrency" ng-model="vm.data.multiCurrency"  autofocus/>
                                                        </div>
                                                    </div>
                                                </div>-->
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    <label class="control-label" for="uraian">Uraian</label>
                                </div>
                                <div class="col-md-10" ng-class="{error: form1.uraian.$invalid}">
                                    <input type="text" name="uraian" class="form-control input-sm" id="uraian" ng-model="vm.data.uraian" autofocus />
                                </div>                    
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div ba-panel ba-panel-title="Detail" ba-panel-class="with-scroll table-panel">
                                <div class="horizontal-scroll">
                                    <table class="table table-condensed">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <button class="btn btn-info editable-table-button btn-xs" ng-click="vm.baru()" type="button">Tambah</button>
                                                </th>
                                                <th><span>Akun</span></th>
                                                <th><span>Uraian</span></th>
                                                <th><span>Debet</span></th>
                                                <th><span>Kredit</span></th>
                                                <th><span>Mata Uang</span></th>
                                                <th><span>Rate</span></th>
                                                <th><span>Akad</span></th>
                                                <th><span>Program</span></th>
                                                <th><span>Proyek</span></th>
                                                <th><span>Nama</span></th>
                                            </tr>
                                        </thead>
                                        <tr ng-repeat="c in vm.data.listJurnalDetail" style="margin: 0px 0px 0px 0px;padding: 0px 0px 0px 0px">
                                            <td style="padding: 0 0 0 0;margin:0 0 0 0;min-width: 100px">
                                                <button class="btn btn-danger editable-table-button btn-xs" ng-confirm-message="Anda yakin akan menghapus '{{c.akun.nama}}'?" ng-confirm="vm.hapusItem($index)" type="button">Delete</button>
                                            </td>
                                            <td style="padding: 0 0 0 0;margin:0 0 0 0;min-width: 150px">
                                                <div class="input-group" >
                                                    <input class="form-control" ng-model="c.akun.kode" name="akun" ng-keypress="$event.keyCode == 13 ? vm.cariAkunByKode(c.akun.kode, $index) : undefined"/>
                                                    <span class="input-group-addon" ng-click="vm.lookupAkun($index)">
                                                        <span class="glyphicon glyphicon-search"></span>
                                                    </span>
                                                </div>
                                            </td>                                            
                                            <td style="padding: 0 0 0 0;margin:0 0 0 0;min-width: 300px">
                                                <input class="form-control" type="text" ng-model="c.detail" name="detail" />
                                            </td>
                                            <td style="padding: 0 0 0 0;margin:0 0 0 0;min-width: 100px">
                                                <input class="form-control" type="text" ng-model="c.debet" name="detail" />
                                            </td>
                                            <td style="padding: 0 0 0 0;margin:0 0 0 0;min-width: 100px">
                                                <input class="form-control" type="text" ng-model="c.kredit" name="detail" />
                                            </td>
                                            <td style="padding: 0 0 0 0;margin:0 0 0 0;min-width: 150px">
                                        <ui-select data-ng-model="c.mataUang" name="mataUang">
                                            <ui-select-match placeholder="Pilih Mata Uang">{{$select.selected.nama}}</ui-select-match>
                                            <ui-select-choices data-repeat="i in vm.listMataUang| filter: $select.search">
                                                <div data-ng-bind-html="i.nama | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                        </td>
                                        <td style="padding: 0 0 0 0;margin:0 0 0 0;min-width: 150px">
                                            <input class="form-control" type="number" ng-model="c.rate" name="rate" />
                                        </td>
                                        <td style="padding: 0 0 0 0;margin:0 0 0 0;min-width: 200px">
                                            <div class="input-group" >
                                                <input class="form-control" ng-model="c.akad.kode" name="akad" ng-keypress="$event.keyCode == 13 ? vm.lookupAkad($index) : undefined"/>
                                                <span class="input-group-addon" ng-click="vm.lookupAkad($index)"><span class="glyphicon glyphicon-search"></span></span>
                                            </div>
                                        </td>
                                        <td style="padding: 0 0 0 0;margin:0 0 0 0;min-width: 200px">
                                            <div class="input-group" >
                                                <input class="form-control" ng-model="c.program.kode" name="akad" ng-keypress="$event.keyCode == 13 ? vm.lookupProgramProyek($index) : undefined"/>
                                                <span class="input-group-addon" ng-click="vm.lookupProgramProyek($index)"><span class="glyphicon glyphicon-search"></span></span>
                                            </div>
                                        </td>
                                        <td style="padding: 0 0 0 0;margin:0 0 0 0;min-width: 200px">
                                            {{c.proyek.kode}}
                                        </td>                                        
                                        <td style="padding: 0 0 0 0;margin:0 0 0 0;min-width: 500px">
                                            <label class="control-label input-sm">{{c.akun.nama}}</label>
                                        </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">                        
                    </div>
                    <button type="button" class="btn btn-primary pull-right" ng-click="vm.save()" ng-disabled="!vm.isBalance() || form1.$invalid">Simpan</button>
                    <button type="button" class="btn btn-danger pull-right" ng-click="$dismiss()">Batal</button>
                </div>
            </div>
        </div>
    </form>
</div>
